@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); 

html {
  font-family: 'Inter', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 654px) {
  html {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 524px) {
  html {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 524px) {
  html {
    font-size: 6px !important;
  }
}


.wrapper {
  font-family: 'Comfortaa', sans-serif;
  display: flex;
}

#about {
  color: white;
  background: black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background: rgb(250, 249, 252);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.scroll {
  width: 50%;
  color: white;
}

.scroll div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scroll div>h2 {
  width: 80%;
  text-align: center;
}

.scroll div>p {
  width: 80%;
}

.scroll div:nth-child(1) {
  background: #D83F87;
}

.scroll div:nth-child(2) {
  background: #4ABDAC;
}

.scroll div:nth-child(3) {
  background: #44318D;
}

/* @keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.animate-area	{ 
  width: 3300px;
  height:175px;
background-image: url(../public/sponsor.png);
background-position: 0px 0px;
background-repeat: repeat-x;
animation: animatedBackground 28s  infinite;
-ms-animation: animatedBackground 28s  infinite;
-moz-animation: animatedBackground 28s  infinite;
-webkit-animation: animatedBackground 28s  infinite;
}

@keyframes animatedBackground2 {
  0%   { background-position: 0px; }
100% { background-position: 0px 1222px; } 
}
@-webkit-keyframes animatedBackground2 {
  0%   { background-position: 0px; }
100% { background-position: 0px 1222px; } 
}
@-ms-keyframes animatedBackground2 {
  0%   { background-position: 0px; }
100% { background-position: 0px 1222px; } 
}
@-moz-keyframes animatedBackground2 {
  0%   { background-position: 0px; }
100% { background-position: 0px 1222px; } 
}
html{width:100%;}
 */
